@{
    ViewBag.Title = "Calculator";
}

@model WebCalculator.Models.CalculatorModel

<a href="/Home/Help" target="_blank">Справка</a>

@Html.Partial("PluginsPart", Model.Operators)

@using (Ajax.BeginForm("CalculatorResult", "Home", new AjaxOptions { UpdateTargetId = "calculatorResult" }, new { name = "CalculatorForm" }))
{
    <fieldset>
        <legend>Калькулятор</legend>
        @Html.LabelFor(m => m.InputExpression)
        @Html.TextBoxFor(m => m.InputExpression, new { size = 50, id = "InputExpression" } )
        <input type="submit" value="Посчитать" />
    </fieldset>

    <fieldset>
        <legend>Результат</legend>
        <div id="calculatorResult"></div>
    </fieldset>
}
