@model WebCalculator.Models.CalculatorModel.PluginsModel

<div id="pluginsList">
    
    @Html.DropDownList("SelectedPlugin", new SelectList(Model.Plugins), new { id = "SelectedPlugin", onchange = "updateOperators(this)" })

    <br />
    <br />
    @Html.Partial("OperatorsList", Model.Operators)
</div>
