@model WebCalculator.Models.CalculatorModel.PluginsModel

@using (Ajax.BeginForm(new AjaxOptions()))
{ 
    <fieldset>
        <legend>Загрузка плагина</legend>
        <div class ="UploadButton" id="UploadButton">UploadFile</div>
        <span id="status"></span>
        <br />
        @Html.Partial("PluginsListPart")
    </fieldset>
}