@model WebCalculator.Models.CalculatorModel.PluginsModel

<div id="pluginsList">
    
    @Html.DropDownList("SelectedPlugin", new SelectList(Model.Plugins), new { id = "SelectedPlugin", onchange = "UpdateOperators(this)" })

    <button id ="DeleteButton" onclick="DeletePlugin('SelectedPlugin')">Delete</button>
    <br />
    <br />
    @Html.Partial("OperatorsListPart", Model.Operators)
</div>
